h1 {
    color: midnightblue;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Julius Sans One';
}

h2 {
    color: midnightblue;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'ABeeZee';
    text-align: center
}

p{
    font-size: 30px;
    font-family: 'ABeeZee';
    text-align: center;
    
}

.jumbotron{
    background-color: rgb(221, 224, 226)
    
}

body{
    font-family: 'ABeeZee';
}
